{% extends 'base.html' %}
{% load static %}
{% block title %}Q Update{% endblock %}
{% block local_resources %}
{% endblock %}
{% block content %}
<div class="container">
    <div style="margin-top:30px;"></div>
    <form action="" method='POST'>
        {% csrf_token %}
        <div class='form-group'>
            <input type='text' class='form-control' name='question' id='question'
                value="{{ question.question }}">
        </div>
        <button type='submit' class='btn btn-secondary btn-sm'>질문 수정</button>
    </form>
</div>
{% endblock %}
{% block local_body_resources %}
{% endblock %}