<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        p {
            font-size: 7em;
            font-weight: 900;
        }
    </style>
</head>
<body>
    {% now "md" as today %}
    {% if today == "0322" %}
        <p>네!</p>
    {% else %}
        <p>아니오...</p>
    {% endif %}

    {{ d_day }}일 남았습니다.
</html>